*.freeze
*.log
*.swo
*.swp
.old
.tmp
.vscode

/book/book/*
/target
**/*.rs.bk
tarpaulin-report.html
/warpgrapher_macros/target

# Libraries should not commit
# https://doc.rust-lang.org/cargo/faq.html#why-do-binaries-have-cargolock-in-version-control-but-not-libraries
Cargo.lock
