name: Test

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths:
      - 'src/**'
      - 'tests/**'
      - 'examples/**'

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DB_URL: http://neo4j:testpass@localhost:7474/db/data
      DB_PASS: testpass
      
    steps:
    - uses: actions/checkout@v2
      
    - name: Cache cargo registry
      uses: actions/cache@v1
      with:
        path: ~/.cargo/registry
        key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}

    - name: Cache cargo index
      uses: actions/cache@v1
      with:
        path: ~/.cargo/git
        key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}

    - name: Cache cargo build
      uses: actions/cache@v1
      with:
        path: target
        key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}
    
    - name: Cache cargo audit
      uses: actions/cache@v1
      with:
        path: rustbins
        key: cargo-audit
 
    - name: Install Cargo Audit
      run: ls -la rustbins/bin/cargo-audit | grep cargo-audit || cargo install cargo-audit --root ./rustbins
    
    - name: Run Cargo Audit
      run: rustbins/bin/cargo-audit audit || echo "Audit failed!"
        
    - name: Install Clippy
      run: rustup component add clippy

    - name: Run Linter
      run: cargo clippy --all-targets --all-features -- -D warnings
      
    - name: Start neo4j database
      run: docker run --rm -d --name neo4j -e NEO4J_AUTH="neo4j/testpass" -p 7474:7474 -p 7687:7687 neo4j:3.5
    
    - name: Run Tests
      run: cargo test
    
    - name: Stop neo4j database
      run: docker rm -f neo4j
